@import "_variables";

* {
  box-sizing: border-box;
}

body {
  font-family: "proxima-nova", "Helvetica", "Arial", sans-serif;
  p {
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0.15em;
  }
}

header {
  position: fixed;
  padding-left: $fixedMargin;
  padding-right: $fixedMargin;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;

  ul {
    width: 300px;
    display: flex;

    &:nth-child(3) {
      justify-content: flex-end;
      align-items: center;

      li {
        margin-left: 7px;
        margin-right: 7px;
      }

      img {
        font-size: 15px;
        margin: 0 8px 0 0;
      }

      .nowCart {
        color: grey;
      }
    }
  }

  img {
    margin: 45px;
  }

  li {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px;
    margin: 14px;
  }
}

main {
  position: absolute;
  margin-left: $fixedMargin;
  margin-right: $fixedMargin;
  margin-top: 155px;

  section {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 97%;
    }

    .main1 {
      position: relative;
      z-index: -1;
    }
  }
}
